.detailE {
    min-height: 100%;
    width: 100%;
    padding-bottom: 5rem;
    color: black;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-content: stretch;
  }
  
  .loading {
    display: flex;
    min-height: 100%;
    flex-wrap: wrap;
    font-size: 60px;
  }
  .obj-image {
    width: 50%;
    height: 50%;
    margin-top: 20px;

  }
  .detail-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .detail-content {
    display: flex;
    border: solid black;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 5rem 0;
    border-radius: 20px;
    height: 20%;
  }
  
  .obj-detail{
      width: 60%;
      margin: 2.5rem;
      text-align: center;
      margin-bottom: 20px;
      
  }
  .detail-obj{
      width: 100%;
      justify-content: center;
      margin-bottom: 20px;
      text-align: center;
  }
  
  .act-detail{
      width: 80%;
      border: solid black;
  }

  h2 {
    text-align: center;
  }
  
  .obj3Detail{
      width: 100%;
      justify-content: center;
      text-align: center;
  }

  .Activities__null {
    padding: .5vh;
  }
  .Activities__null h3{
    font-size: 2.5vh;
    text-align: center;
    text-transform: capitalize;
}
.Activities__null p{
  margin: 2vh;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
}

.button85{ 
padding: 1rem 1rem;
border: none;
outline: none;
color: rgb(255, 255, 255);
background: rgba(17, 17, 17, 0.341);
font-size: 2vh;
cursor: pointer;
width: max-content;
margin: 2rem 15rem;
position: relative;
z-index: 0;
border-radius: 10px;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}
.button85:before {
content: "";
background: linear-gradient(
  45deg,
  #ff0000,
  #ff7300,
  #fffb00,
  #48ff00,
  #00ffd5,
  #002bff,
  #7a00ff,
  #ff00c8,
  #ff0000
);
position: absolute;
top: -2px;
left: -2px;
background-size: 400%;
z-index: -1;
filter: blur(5px);
-webkit-filter: blur(5px);
width: calc(100% + 4px);
height: calc(100% + 4px);
animation: glowing-button-85 20s linear infinite;
transition: opacity 0.3s ease-in-out;
border-radius: 10px;
}

@keyframes glowing-button-85 {
0% {
  background-position: 0 0;
}
50% {
  background-position: 400% 0;
}
100% {
  background-position: 0 0;
}
}

.button85:after {
z-index: -1;
content: "";
position: absolute;
width: 100%;
height: 100%;
background: rgb(34, 34, 34);
left: 0;
top: 0;
border-radius: 10px;
}

.link-detail {
  text-align: center;
}

@media screen and (max-width: 920px) {
  .detail-content {
    width: 100%;
    background-color: red;
  }
}