.cardContainer {
  background-color: rgba(162, 162, 162, 0.113);
  backdrop-filter: blur(4px);
    width: 18vw;
    height: 16rem;
    margin: 1px 0 2px 0;
    display: flex;
    font-size: large;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-bottom: 16px;
    border-radius: 20px;
    margin-bottom: 20px;
  }
  
  .infoConteiner {
  
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: flex-end;
    height: 50%;
  }
  
  .cardImg {
    width: 50%;
    height: 100px;   
    margin-bottom: 70px;
  }
  
  .cardImg:hover {
    transform: scale(1.2);
    transform-origin: center;
    box-shadow: 0px 10px 15px darkgrey ;
  }
  .content {
    margin: 1rem 0 0 0;
}