
.act-card-container {
    display: flex;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: 2rem ;
  }
  
  .act-card {
    background-color: rgba(162, 162, 162, 0.113);
    backdrop-filter: blur(4px);
    border: solid black;
    border-radius: 3px;
    padding: 70px 100px;
  }

  .seasonInput {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .title-create-act {
    text-transform: uppercase;
    font-size: 23px;
    margin: -50px 0 80px 0;
    display: block;
    text-align: center;
  }
  
  .input-act{
      position:relative;
      margin-top: 1rem;
  }
  
  .label-act{
      position:absolute;
      font-size:16px;
      color:#fff;	
      margin: auto;
      transition: all 0.5s ease-in-out;
  }
  label {
    display: flex;
    justify-content: center;
    
  }
  
  .i{ 
    border:0;
    border-bottom: 1px solid #555;  
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    background:transparent;
    width:100%;
    padding: 1rem;
    margin: auto;
    font-size:16px;
    color:black;
  }
  .i:focus{ 
      border:none;	
      outline:none;
      border-bottom:1px solid #e74c3c;	

  }
  
  .btn-act{
      color:#fff;
      background-color:#e74c3c;
      outline: none;
      display: flex;
      border: 0;
      color: #fff;
      padding:10px;
      text-transform:uppercase;
      border-radius:5px;
      margin: auto;
      cursor:pointer;
      position:relative;
  }
  
  .i:focus ~ .labelActivity,
  .i:valid ~ .labelActivity{
      top:-12px;
      font-size:12px;
      
  }
  
  .op{
      background-color: transparent;
      width: 100%;
  }
  
  .text-area{
    box-shadow: inset 1px 2px 6px 5px #141e27;
    border-radius: 5px;
    width: 100%;
    margin: 4rem auto;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
  
  }
  
  .country-btn{
    background-color: transparent;
    border: grey 3px solid;
    justify-content: center;
    display: flex;
    margin: 1rem
  }
  
  .btn-del{
    background-color: red;
    width: 1rem;
    height: 1rem;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    border: 0 0 0 0;
    cursor: pointer	;
    font-size: 10px ;
  }
  
  .p-country{
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  .e{
      color: red;
      font-size: small;
  }