.nav-container{

    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: baseline;
    justify-content: space-around;;
}

.nav-content{
    justify-content: space-around ;
    display: inline-flex;
    width: 800%;
}


.nav-link{
    color: white;
    text-decoration: none;
    font-size: 1rem ;
    margin-top: 20px;
}

.nav-cn{
    color: #ffffff;
    text-align: center;
    margin-left: 2%;
    width: 20%;
}

.countries{
    color: #ffffff;
    margin-left: -1%;
    font-size: 3.2rem;
    
}
.name{
    color: #ffffff;
    font-size: 1.2rem;
    margin-left:5%;
    margin-top: -2%;
}